:root{
    --negro: #0D0D0D;
    --morado:#692073;
    --verde:#2CBFB1;
    --naranja:#F27F3D;
}



.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: var(--naranja);
}

.button{
    background-color: beige;
    color: var(--naranja);
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 15%;
    cursor: pointer;
    border-radius: 10px;
}




@media(max-width:767px){
    .button{
        width: 20%;
        margin-top: 1rem;
    }
    .input{
        width: 15rem;
    }
}

@media(min-width:768px){
    .button{
        margin-top: 1rem;
    }
    .input{
        width: 15rem;
    }
}