:root{
    --negro: #0D0D0D;
    --morado:#692073;
    --verde:#2CBFB1;
    --naranja:#F27F3D;
}



.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: var(--naranja);
}