:root{
    --negro: #0D0D0D;
    --morado:#692073;
    --verde:#2CBFB1;
    --naranja:#F27F3D;
}

.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: var(--naranja);

}

.buton{
    background-color: beige;
    border: none;
    padding: 0.5rem;
    border-radius: 15px;
    color: var(--naranja);
    font-weight: 700;
    width: 200px;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

.grupos{
    color: var(--naranja );
}

.botonOcultarMostrar{
    background-color: beige;
    color: var(--naranja);
    font-weight: 700;
    cursor: pointer;
}

.games{
    overflow-y:auto;
    max-height: 10rem;
}

.grupos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}