:root {
    --negro: #0D0D0D;
    --morado: #692073;
    --verde: #2CBFB1;
    --naranja: #F27F3D;
}

.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    border-radius: 5px;
    width: 14rem;
}

.titulo{
    color: var(--naranja);
}

.sign{
    margin-top: 50px;
    background-color: beige;
    color: var(--naranja);
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    width: 10rem;
}

.color{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    border-radius: 20px;
    cursor: pointer;
}


.botonOcultarMostrar{
    background-color: beige;
    color: var(--naranja);
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.games{
    overflow-y:auto;
    max-height: 10rem;
}


@media(min-width:768px){
    .botonOcultarMostrar{
        margin: 2em 0 2em 0;
    }
    .sign:hover{
        filter: drop-shadow(0 0 4em #F27F3D);
    }
}

