.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.titulo{
    color: #F27F3D;
    font-weight: 700;
    margin-bottom: 1%;
}

.button{
    margin-top: 1%;
    width: 10rem;
    background-color: beige;
    color: #F27F3D;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}