.nombre{
    font-weight: 700;
}

.button{
    background-color: beige;
    color: #F27F3D;
    font-weight: 700;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 15px;
}

.conteiner{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 0.2rem;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:1rem;

}